{% extends 'base.html' %}

{% block content %}
{% load static %}
<h1>Delivery Service Home Alpha</h1>
<!-- src= "console.log(window.location.pathname); console.log("<---- path");" -->
<!-- src= "js_components/first_comp.js" -->
<!-- /Users/eque/Desktop/PatronDeliver/PatronDeliver/pages/templates/js_components/first_comp.js -->
<!-- <link href=""> -->
<script>
  function myFunction() {
    document.getElementById("demo").innerHTML = "Paragraph changed.";
    alert(window.location.pathname);
  }
</script>

<p id= "demo"> Hello World </p>
<button type="button" onclick="myFunction()">Try it</button>
<p>Nazi Germany is the common English name for Germany between 1933 and 1945, when Adolf Hitler and his Nazi Party controlled the country through a dictatorship. Under Hitler's rule, Germany was transformed into a totalitarian state where nearly all aspects of life were controlled by the government. </p>
<img src="{% static 'aguila.jpg' %}" alt="Trulli" width="500" height="333">
{% endblock content %}
