{% extends 'base.html' %}

{% block content %}
{% load static %}
<h1>Payment Method Page</h1>

<!-- <body background="{% static 'img/aguila.jpg' %}"> -->
<!-- src= "console.log(window.location.pathname); console.log("<---- path");" -->
<!-- src= "js_components/first_comp.js" -->
<!-- /Users/eque/Desktop/PatronDeliver/PatronDeliver/pages/templates/js_components/first_comp.js -->
<!-- <link href=""> -->
<!-- <script>
  function myFunction() {
    document.getElementById("demo").innerHTML = "Paragraph changed.";
    alert(window.location.pathname);
  }
</script> -->
<!--
<p id= "demo"> Hello World </p> -->
{% endblock content %}
